#wallet-accounts {
  padding: 20px;

  button {
    margin-left: 15px;
  }

  table {
    margin: 20px 0;

    thead {
      th {
        padding: 10px;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px 10px 0 10px;

          button {
            margin-left: 0;
          }
        }
      }
    }
  }
}
