#wallet-accounts {
  padding: 20px;

  h1 {

  }

  form {
    margin-top: 20px;

    fieldset {
      border: 0;

      input {
        margin: 0 5px;
      }
    }
  }

  table {
    margin: 10px 0 20px 0;

    thead {
      th {
        padding: 10px;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px 10px 0 10px;

          button {

          }

          div {

          }

          input {
          }
        }
      }
    }
  }
}
