#wallet-accounts {
  padding: 20px;

  h1 {

  }

  form {
    margin-top: 10px;
  }

  table {
    margin-top: 10px;

    thead {
      th {
        padding: 10px;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px;

          button {

          }

          div {

          }

          input {
          }
        }
      }
    }
  }
}
