* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2 {
  margin-bottom: 10px;
}

/**
 * aurelia-dialog
 */
.ux-dialog-open {
  ux-dialog-body {
    text-align: center;
  }

  ux-dialog-overlay {
    background-color: #000;
    opacity: 0.5;
  }
}

/**
 * Includes.
 */
@import 'dialog/alert';
@import 'dialog/confirm';
@import 'dialog/file';
@import 'dialog/password';
@import 'wallet';
@import 'wallet/accounts';
@import 'wallet/history';
@import 'wallet/receive';
@import 'wallet/send';
@import 'wallet/settings';
@import 'setup';

// Resources.
@import 'resources/elements/account-balance';
